html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url(/images/judge0_background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ui[class*="left action"].input>.dropdown {
    border-radius: 0 .28571429rem .28571429rem 0;
}

.ui.selection.dropdown {
    width: 300px;
}

.lm_header .lm_tab {
    padding-bottom: 3px;
    height: 16px;
    font-family: "Droid Sans Mono", monospace, monospace, "Droid Sans Fallback";
    font-size: 14px;
}

.lm_header .lm_tab.lm_active {
    box-shadow: none;
    padding-bottom: 3px;
}

#site-navigation {
    border-radius: 0;
    margin: 0;
    background: #1e1e1e;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    height: 45px;
}

#site-icon {
    width: 45px;
    height: 45px;
    vertical-align: middle;
}

#site-header {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#site-header h2 {
    display: inline;
    vertical-align: middle;
    font-family: 'Exo 2', sans-serif;
}

#site-content {
    height: calc(100% - 46px - 19px);
}

#site-modal .header {
    color: #db2828;
}

#site-footer, #status-line {
    background-color: #2185d0;
    bottom: 0;
    color: #fff;
    font-family: "Droid Sans Mono", monospace, monospace, "Droid Sans Fallback";
    font-size: 13px;
    height: 19px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
}

#site-footer {
    left: 0;
    text-align: center;
    width: 100%;
}

#site-footer a {
    color: #fff;
    font-weight: bold;
}

#status-line {
    width: 350px;
    right: 0;
    text-align: right;
    float: right;
}

.left-padding {
    padding-left: 16px !important;
}
